<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Aurora </title>
  <style>
  body { background-image: url("img/832299.jpg"); }
  h1 { color: #FF0000; }
  p { color: #ffffff; }
  </style>
</head>
<body>
  <h1>オーロラ出現予測</h1>
  <form name="req" action="/result" method="get" onsubmit="return checkparam();">
  <p>オーロラを見たい日:<select name="ViewDate"><%- opdates %></select></p>
  <input type="hidden" name="lat" value="">
  <input type="hidden" name="lon" value="">
  <input type="submit" value="GO Check!!">
  </form>
  <p>見たい場所を下の地図でクリックしてください。</p>
  <img id="wmap" src="img/1439152.jpg">
  <script>
    var img = document.getElementById('wmap');
    img.onclick = function(e){
	var xx = e.pageX - 9;
	var yy = e.pageY - 198;
	var x = xx * 360 / 639 - 320; // -40 ->  320
	var y = 80 - yy * 160 / 423; // +80 -> -80
	document.forms['req'].lat.value = x < 0 ? x + 360 : x;
	document.forms['req'].lon.value = y;
    }

    function checkparam() {
	if (document.forms['req'].lat.value == "" 
		|| document.forms['req'].lat.value == "") {
		alert("みたい位置を指定してください。");
		return false;
	}
    }
  </script>
</body>
</html>
