<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Express Test plus ejs</title>
</head>
<body>
  <h1>This is Apptop file</h1>
  <p>Create Data Selector and Map.<br />
User selects aurora view from map</p>
</body>
</html>
