<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Aurora </title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <style>
  body { background-image: url("img/832299.jpg"); }
  h1 { color: #FF0000; }
  p { color: #ffffff; }
  </style>
</head>
<body>
  <h1>オーロラ出現予測</h1>
  <form name="req" action="/result" method="get" onsubmit="return checkparam();">
  <p>オーロラを見たい日:<select name="ViewDate"><%- opdates %></select><br />
  lat: <input type="text" name="lat" value="">
  lon: <input type="text" name="lon" value=""><br />
  <input type="submit" value="GO Check!!"></p>
  </form>
  <p>見たい場所を下の地図でクリックしてください。</p>
  <div id='map1' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.your_token.etc';
  var map = new mapboxgl.Map({
    container: 'map1',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  map.on('click', function (e) {
      document.forms['req'].lat.value = e.lngLat.lat;
      document.forms['req'].lon.value = e.lngLat.lng;
  });
</script>
<!--
  <img id="wmap" src="img/1439152.jpg">
  <script>
/*
    var img = document.getElementById('wmap');
    img.onclick = function(e){
// 	この部分の9と198という数字は本来HTMLで配置された要素の高さと幅から
//	計算すべきものなので決して真似をしてはいけない！！
	var xx = e.pageX - 9;
	var yy = e.pageY - 198;
//	ここまで
	var x = xx * 360 / 639 - 320; // -40 ->  320
	var y = 80 - yy * 160 / 423; // +80 -> -80
	document.forms['req'].lat.value = x < 0 ? x + 360 : x;
	document.forms['req'].lon.value = y;
    }

    function checkparam() {
	if (document.forms['req'].lat.value == "" 
		|| document.forms['req'].lat.value == "") {
		alert("みたい位置を指定してください。");
		return false;
	}
    }
*/
  </script>
-->
</body>
</html>
