<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Aurora </title>
  <style>
  body { background-image: url("img/832299.jpg"); }
  h1 { color: #FF0000; }
  p { color: #ffffff; }
  </style>
</head>
<body>
  <h1>オーロラ出現予測</h1>

  <p><%= Resp %></p>
</body>
</html>
